<%- include('_header') %>

    <div class="container">
       <!-- <h3 class="title">New Article</h3> -->

       <form action="/articles" method="POST">
           <%- include('_form_fields') %>
       </form>
    </div>
</body>
</html>